*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root
{
    --headings-color: #202020;
    --accent-color: #77c19f;
    --accent-color-darkened: #649e7c;
}

/* Header */

.page-header
{
    padding: 2% 2% 20px;
    background-color: var(--accent-color);
    border-bottom: 1px solid #000000;
}

.page-header__logo
{
    display: flex;
}

.page-header__logo-image
{
    height: 2.5em;
    width: auto;
    margin-right: 10px;
}

.page-header__logo-text
{
    font-family: "Fira Sans", sans-serif;
    color: var(--headings-color);
    display: inline-block;
}

.page-header__navigation
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.page-header__navigation-item
{
    font-family: "Fira Sans", sans-serif;
    padding: 5px;
}

.page-header__navigation-item:hover,
.page-header__navigation-item:active
{
    background-color: var(--accent-color-darkened);
}

.page-header__navigation-link
{
    color: black;
}

@media (max-width: 1080px)
{
    .page-header__logo
    {
        padding-top: 3%;
        justify-content: center;
    }

    .page-header__navigation
    {
        justify-content: center;
    }
}

/* Main */

.main__heading
{
    font-family: "Fira Sans", sans-serif;
    color: var(--headings-color);
    margin-bottom: 12px;
    margin-top: 20px;
    margin-left: 2%;
}

.main__list
{
    margin-left: 3%;
}

.main__list-item
{
    font-family: "Fira Sans", sans-serif;
}

.main__paragraph
{
    margin-left: 2%;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main__image
{
    margin-left: 2%;
    width: 35%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main__embedded-video
{
    margin-left: 2%;
    width: 560px;
    height: 315px;
}

@media (max-width: 1080px)
{
    .main__list
    {
        margin-left: 6%;
    }

    .main__image
    {
        width: 95%;
        display: block;
        margin: 15px auto 15px;
    }

    .main__embedded-video
    {
        width: 95%;
        display: block;
        margin: 15px auto 15px;
    }
}

/* Footer */

.page-footer
{
    border-top: 1px solid black;
    padding-left: 2%;
    padding-top: 20px;
    margin-top: 20px;
}

.page-footer__copyright
{
    font-family: "Fira Sans", sans-serif;
}

@media (max-width: 1080px)
{
    .page-footer__copyright
    {
        text-align: center;
    }
}
